.wallet-adapter-button {
    background-color: #404144;
    border: none;
    border-radius: 6px;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    z-index: 10;
}

.wallet-adapter-button-trigger {
    background-color: #4e44ce !important;
}

.wallet-adapter-button:not([disabled]):focus-visible {
    outline-color: white;
}

.wallet-adapter-button:not([disabled]):hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15) 0 0);
}

.wallet-adapter-button[disabled] {
    background: #404144;
    color: #999;
    cursor: not-allowed;
}

.wallet-adapter-button-end-icon,
.wallet-adapter-button-start-icon,
.wallet-adapter-button-end-icon img,
.wallet-adapter-button-start-icon img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.wallet-adapter-button-end-icon {
    margin-left: 8px;
}

.wallet-adapter-button-start-icon {
    margin-right: 8px;
}

.wallet-adapter-collapse {
    width: 100%;
}

.wallet-adapter-dropdown {
    position: relative;
    display: inline-block;
}

.wallet-adapter-dropdown-list {
    position: absolute;
    z-index: 99;
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
    padding: 10px;
    top: 100%;
    right: 0;
    margin: 0;
    list-style: none;
    background: #2c2d30;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease, transform 200ms ease, visibility 200ms;
}

.wallet-adapter-dropdown-list-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(10px);
}

.wallet-adapter-dropdown-list-item {
    background: #404144;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    height: 37px;
    color: white;
}

.wallet-adapter-dropdown-list-item:not([disabled]):hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15) 0 0);
}

.wallet-adapter-modal-collapse-button svg {
    align-self: center;
    fill: #999;
}

.wallet-adapter-modal-collapse-button.wallet-adapter-modal-collapse-button-active svg {
    transform: rotate(180deg);
    transition: transform ease-in 150ms;
}

.wallet-adapter-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity linear 150ms;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    overflow-y: auto;
}

.wallet-adapter-modal.wallet-adapter-modal-fade-in {
    opacity: 1;
}

.wallet-adapter-modal-button-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 6px;
}

.wallet-adapter-modal-button-close:focus-visible {
    outline-color: white;
}

.wallet-adapter-modal-button-close svg {
    fill: #777;
    transition: fill 200ms ease 0s;
}

.wallet-adapter-modal-button-close:hover svg {
    fill: #fff;
}

.wallet-adapter-modal-logo {
    max-width: 100%;
}

.wallet-adapter-modal-logo-wrapper {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background: #141515;
    margin-bottom: 10px;
    padding: 12px;
}

.wallet-adapter-modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.wallet-adapter-modal-container {
    display: flex;
    margin: 3rem;
    min-height: calc(100vh - 6rem); /* 100vh - 2 * margin */
    align-items: center;
    justify-content: center;
}

@media (max-width: 480px) {
    .wallet-adapter-modal-container {
        margin: 1rem;
        min-height: calc(100vh - 2rem); /* 100vh - 2 * margin */
    }
}

.wallet-adapter-modal-wrapper {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1050;
    max-width: 400px;
    border-radius: 10px;
    background: #2c2d30;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6);
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 40px 20px 20px;
    flex: 1;
}

.wallet-adapter-modal-wrapper .wallet-adapter-button {
    width: 100%;
}

.wallet-adapter-modal-wrapper-no-logo {
    padding-top: 30px;
}

.wallet-adapter-modal-title {
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 27px;
    margin-top: 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

@media (max-width: 374px) {
    .wallet-adapter-modal-title {
        font-size: 26px;
    }
}

.wallet-adapter-modal-list {
    margin: 0 0 12px;
    padding: 0;
    width: 100%;
    list-style: none;
}

.wallet-adapter-modal-list li:not(:first-of-type) {
    margin-top: 12px;
}

.hero-cta {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-top: 1.5rem;
}

.cta-img {
    width: 2.2rem;
    margin-right: .7rem;
}

.cta {
    display: flex;
    align-content: center;
    text-decoration: none;
    margin: 0 1rem;
    transition: all .1s ease-out;
}

.wallet-adapter-button-trigger{
    /* color: black !important;
    background-color: rgb(208, 20, 138) !important;
    border: 0.2rem solid black !important;
    padding: 0px 15px !important;
    border-radius: 10px !important;
    letter-spacing: 0.1em !important; */
    
}

  
  .next,
  .prev {
    
    position: relative;
    background: white;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
  }
  
  .next {
    right: 10px;
  }
  
  .prev {
    left: 10px;
    transform: scale(-1);
  }
  
  .imgScroll {
    position: absolute;
    max-width: 100vw;
  }
  
  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
/*------------ marquee css ----------*/

.marquee {
    width: 450px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .marquee span {
    display: inline-block;
    width: max-content;
    font-size: 24px;
    font-style: italic;
    padding-left: 100%;
    /* show the marquee just outside the paragraph */
    will-change: transform;
    animation: marquee 15s linear infinite;
    color: #ccc;
  }
  
  .marquee span:hover {
    animation-play-state: paused
  }
  
  
  @keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
  }
  
  
  /* Respect user preferences about animations */
  
  @media (prefers-reduced-motion: reduce) {
    .marquee span {
      animation-iteration-count: 1;
      animation-duration: 0.01; 
      /* instead of animation: none, so an animationend event is 
       * still available, if previously attached.
       */
      width: auto;
      padding-left: 0;
    }
  }
/*------------ card css ----------*/
.card {
    backdrop-filter: blur(12px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.5) !important;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 100%;
    height: 100%;
}
/*------------ title css ----------*/
.text-line {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: dash 4s linear forwards, filling 3s ease-in forwards;
  }
  
  .text-line text {
    font-family: Helvetica;
    font-weight: normal;
    font-style: normal;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes filling {
    0%, 90% { fill: black; fill-opacity: 0; }
    100% { fill: black; fill-opacity: 1; }
  }
  /*------------ text blink css ----------*/

  .blink {
    font-size: 20px;
    font-style: italic;
    color: #ccc;
    animation: blinker 5s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  /*------------ story css ----------*/
.story {
    display: flex;
    margin: 150px 0;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="2000"], body[data-aos-duration="2000"] [data-aos] {
    transition-duration: 2s;
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform;
    transition-property: opacity,transform,-webkit-transform;
}
.crowncontainer {
    display: -webkit-flex;
    display: flex;
    width: 50%;
}
[data-aos=fade-right] {
    -webkit-transform: translate3d(-100px,0,0);
    transform: translate3d(-100px,0,0);
}
.theCrown {
    width: 400px;
    margin: auto;
    -webkit-animation: float 3s ease-in-out infinite;
    animation: float 3s ease-in-out infinite;
}
#shine1, #shine2 {
    -webkit-animation: shineAnimation 4s ease-in-out infinite;
    animation: shineAnimation 4s ease-in-out infinite;
}
#shine1 {
    margin-top: 50px;
}
.shiner {
    position: absolute;
    width: 100px;
}
#shine2 {
    width: 70px;
    margin-left: 260px;
    margin-top: -30px;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}
#shine3 {
    margin-top: 170px;
    margin-left: 230px;
    -webkit-animation: shineAnimation 4s ease-in-out infinite;
    animation: shineAnimation 4s ease-in-out infinite;
    -webkit-animation-delay: 1.05s;
    animation-delay: 1.05s;
}
#shine4 {
    margin-top: 220px;
    margin-left: 9px;
    width: 60px;
    -webkit-animation: shineAnimation 3s ease-in-out infinite;
    animation: shineAnimation 3s ease-in-out infinite;
    -webkit-animation-delay: 1.65s;
    animation-delay: 1.65s;
}
#shine5 {
    margin-left: 79px;
    width: 60px;
    -webkit-animation: shineAnimation 3s ease-in-out infinite;
    animation: shineAnimation 3s ease-in-out infinite;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}
#shine6 {
    margin-top: 150px;
    margin-left: 349px;
    width: 40px;
    -webkit-animation: shineAnimation 3s ease-in-out infinite;
    animation: shineAnimation 3s ease-in-out infinite;
    -webkit-animation-delay: 3.8s;
    animation-delay: 3.8s;
}
.crownImage {
    width: 100%;
}
@keyframes float {
    0% {
        -webkit-transform: translatey(0);
        transform: translatey(0);
    }
    50% {
        -webkit-transform: translatey(-12px);
        transform: translatey(-12px);
    }
    100% {
        -webkit-transform: translatey(0);
        transform: translatey(0);
    }
  }
@keyframes shineAnimation {
    0% {
        opacity: 0;
    }
    5% {
        opacity: .9;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
  }
   /*------------ event css ----------*/
   .event {
    /* display: -webkit-flex !important; */
    display: flex;
    width: 100%;
    /* overflow: hidden; */
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    /* -webkit-transform: translateZ(0); */
    transform: translateZ(0);
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="2000"], body[data-aos-duration="2000"] [data-aos] {
    transition-duration: 2s;
}
[data-aos^=fade][data-aos^=fade] {
    /* opacity: 0;
    transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform; */
    transition-property: opacity,transform,-webkit-transform;
}
/* ----------    detail modal    ----------- */
.detail-modal {
    background: transparent;
    overflow: hidden;
}
.detail-modal .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-title {
    text-align: center;
    border-bottom-color: transparent;
    padding-bottom: 0px;
}
.nft-img {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .ok-btn {
    color: white;
    background-color: rgb(208, 20, 138);
    border: 0.1rem solid black;
    padding: 10px 15px;
    border-radius: 6px;
    letter-spacing: 0.15em;
    font-family: eurostile-black-italic-italic, sans-serif;
    font-weight: 400;
    font-size: 14;
    width: 100%;
  }
  /* ------------------ time box ---------- */
.time-box {
    background-color: rgb(75, 20, 77);
    z-index: 10;
    flex-direction: column;
    font-size: 16px;
    color: #fff;
    padding: 16px;
    border-radius: 16px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}
.eventInfo {
    width: 600px;
    height: 450px;
    /* position: relative; */
    /* background-color: rgba(9,17,40,.9411764705882353); */
    /* backdrop-filter: blur(12px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.5) !important;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125); */

    /* background-image: url('/img/mint.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background-color: rgba(75, 20, 77, 0.3);
    display: flex;
    padding: 20px;
}
.nores-box-container {
    width: 100vw;
    height: 100vh;
    margin-top: -12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nores-box {
    background-color: rgb(75, 20, 77);
    z-index: 10;
    flex-direction: column;
    font-size: 16px;
    color: #fff;
    padding: 16px;
    border-radius: 16px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}
.mint-box {
    padding: 60px 0px 20px 30px;
    background-color: rgb(75, 20, 77);
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.event-img {
    /* max-width: 92%;
    height: 95%; */
}
.carousel-body {
    width: 600px;
    height: 460px;
    
    /* display: flex; */
    resize: cover;
}
.carousel-item {
    width: 600px;
    height: 460px;
}
[data-aos=fade-right] {
    /* -webkit-transform: translate3d(-100px,0,0);
    transform: translate3d(-100px,0,0); */
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    /* -webkit-transform: translateZ(0); */
    transform: translateZ(0);
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="2000"], body[data-aos-duration="2000"] [data-aos] {
    transition-duration: 2s;
}
[data-aos^=fade][data-aos^=fade] {
    /* opacity: 0;
    transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform; */
    transition-property: opacity,transform,-webkit-transform;
}
.eventPhotos {
    width: 40%;
    overflow: visible;
    position: relative;
    margin: 0 auto;
    right: 0;
    padding-left: 50px;
    /* display: -webkit-flex; */
    display: flex;
}
[data-aos=fade-left] {
    /* -webkit-transform: translate3d(100px,0,0);
    transform: translate3d(100px,0,0); */
}

@keyframes grafittiAnim {
    0% {
        width: 75%;
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
        opacity: 0;
        -webkit-filter: blur(20px);
        filter: blur(20px);
        z-index: 2;
    }
    5% {
        opacity: 1;
        -webkit-filter: blur(0);
        filter: blur(0);
        z-index: 1;
    }
    35% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
        z-index: 1;
    }
    40% {
        z-index: 0;
        -webkit-filter: blur(20px);
        filter: blur(20px);
        opacity: 0;
        width: 60%;
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
}

#grafitti1, #grafitti2, #grafitti3, #grafitti4, #grafitti5, #grafitti6 {
    opacity: 0;
    margin: auto;
    width: 95%;
    -webkit-animation: grafittiAnim 21s linear infinite;
    animation: grafittiAnim 21s linear infinite;
    position: absolute;
}
#grafitti1 {
    /* -webkit-animation-delay: 7s; */
    /* animation-delay: 0; */
}
#grafitti2 {
    /* -webkit-animation-delay: 7s; */
    animation-delay: 7s;
}
#grafitti3 {
    /* -webkit-animation-delay: 14s; */
    animation-delay: 14s;
}
#grafitti4 {
    /* -webkit-animation-delay: 21s; */
    animation-delay: 21s;
}
#grafitti5 {
    /* -webkit-animation-delay: 28s; */
    animation-delay: 28s;
}
#grafitti6 {
    /* -webkit-animation-delay: 35s; */
    /* animation: grafittiAnim 21s linear infinite; */
    animation-delay: 35s;
}
/*---------- wallet button ----------*/
.wallet-adapter-button {
    /* line-height: 30px !important; */
}
.wallet-adapter-button-trigger{
    /* visibility: hidden;
    background-color: transparent !important; */
}
.wallet-adapter-button-trigger:after {
    /* visibility: visible;
    color: black !important;
    background-color: rgb(208, 20, 138) !important;
    border: 0.2rem solid black !important;
    padding: 0px 15px !important;
    border-radius: 10px !important;
    letter-spacing: 0.1em !important;
    content: 'CONNECT WALLET' !important;
    font-family: 'eurostile-black-italic-italic', sans-serif !important; */
}
.wallet-adapter-button-trigger::after{
    /* visibility: hidden; */
    /* content: 'DISCONNECT WALLET';
    font-family: 'eurostile-black-italic-italic', sans-serif !important; */
}
/* -----------  card css   --------- */
.my-card {
    background-color: rgb(24, 23, 23);
    border-color: rgb(255,255,255);
    border-width: 5px;
    width: 100%;
    height: auto !important;
    padding: 5px;
}
.my-card-header {
    padding: 5px 10px 0px 5px;
}
.my-card-footer {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    padding-right: 5px;
}
.detail-btn {
    height: auto;
    padding: 0px 5px;
    color: rgb(138, 135, 135);
    letter-spacing: 0.25em !important;
    white-space: nowrap;
    font-size: 12px;
    font-family: 'eurostile-black-italic-italic', sans-serif;
}
.responsive-row {
    display: flex;
}
.responsive-row .responsive-col, .responsive-col-full {
    padding: 5px 10px;
}
.flex-2 {
    flex:2
  }
.footer-title {
    color: white;
    letter-spacing: 0.2em;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    font-family: 'eurostile-black-italic-italic', sans-serif !important;
}
/* ----------    carousel    ----------- */
.container-carousel {
    position: relative;
    width: 220px;
    margin: 20px auto 0 auto;/* 100px auto 0 auto; */
    perspective: 1000px;
  }
  
  .carousel-main {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face { 
    position: absolute;
    width: 200px;
    height: 250px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.1);
    display: flex;
  }
  
  span {
    margin: auto;
    font-size: 2rem;
  }
  
  
  .carousel__face:nth-child(1) {
    background-image: url("/cards/1.png?auto=compress&cs=tinysrgb&dpr=2&h=860&w=960");
    transform: rotateY(  0deg) translateZ(330px); }
  .carousel__face:nth-child(2) { 
    background-image: url("/cards/2.png?auto=compress&cs=tinysrgb&dpr=2&h=860&w=960");
      transform: rotateY( 40deg) translateZ(330px); }
  .carousel__face:nth-child(3) {
    background-image: url("/cards/3.png?auto=compress&cs=tinysrgb&dpr=2&h=860&w=960");
    transform: rotateY( 80deg) translateZ(330px); }
  .carousel__face:nth-child(4) {
    background-image: url("/cards/4.png?auto=compress&cs=tinysrgb&dpr=2&h=860&w=960");
    transform: rotateY(120deg) translateZ(330px); }
  .carousel__face:nth-child(5) { 
    background-image: url("/cards/5.png?auto=compress&cs=tinysrgb&dpr=2&h=860&w=960");
   transform: rotateY(160deg) translateZ(330px); }
  .carousel__face:nth-child(6) { 
    background-image: url("/cards/6.png?auto=compress&cs=tinysrgb&dpr=2&h=860&w=960");
   transform: rotateY(200deg) translateZ(330px); }
  .carousel__face:nth-child(7) { 
    background-image: url("/cards/7.png?auto=compress&cs=tinysrgb&dpr=2&h=860&w=960");
   transform: rotateY(240deg) translateZ(330px); }
  .carousel__face:nth-child(8) {
    background-image: url("/cards/4.png?auto=compress&cs=tinysrgb&dpr=2&h=860&w=960");
    transform: rotateY(280deg) translateZ(330px); }
  .carousel__face:nth-child(9) {
    background-image: url("/cards/5.png?auto=compress&cs=tinysrgb&dpr=2&h=860&w=960");
    transform: rotateY(320deg) translateZ(330px); }
  
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  
/* --------     custom wallet button -------- */
.wallet .create_mint_right button {
    /* display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 12rem;
    padding: 0.5rem 2rem;
    background-color: white;
    text-align: center;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    color: black;
    background-color: rgb(208, 20, 138);
    border: 0.2rem solid black;
    padding: 10px 15px;
    border-radius: 10px;
    letter-spacing: 0.1em;
    font-family: 'eurostile-black-italic-italic', sans-serif;
    white-space: nowrap;
  }
  
  .wallet .create_mint_left .title h4 {
    color: white;
    font-weight: 600;
  }
  
  .walletNft .nft_title h3 {
    color: white;
    font-weight: 700;
  }
  
  .walletNft .nft_cart {
    box-shadow: rgba(85, 106, 114, 0.12) 0px 2px 4px 0px,
      rgba(89, 110, 117, 0.32) 0px 2px 16px 0px;
    min-height: 14rem;
    width: 100%;
    border-radius: 10px;
  }
  
  .walletNft .nft_cart .nft_img img {
    height: 130px;
    width: 130px;
    border-radius: 50px;
  }
  
  .walletNft .nft_cart .nft_details p {
    color: white;
    font-weight: 600;
  }
  
  .walletNft .nft_cart button {
    background-color: white;
    padding: 0.5rem 2rem;
    color: black;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .pub_key {
    display: block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }